.container {
  margin-top: 10%;
}

.userCard {
  width: 80%;
  padding: 50px;
  border-radius: none;
}

.userColumn {
  display: flex;
  justify-content: space-between;
}

.datePick {
  position: absolute;
  top: 0;
  left: 0;
}

.modal {
  background-color: rgba(0, 0, 0, 0.5);
}

.modalContent {
  position: relative;
  width: 50%;
  height: 75%;
  margin: auto;
  top: 15%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.closeButton {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  background: none;
  border: none;
  cursor: pointer;
}

.closeButton::after {
  content: "";
  position: absolute;
  width: 20px;
  top: 10px;
  left: 0px;
  border: 1.5px solid tomato;
  transform: rotate(45deg);
}

.closeButton::before {
  content: "";
  position: absolute;
  width: 20px;
  top: 10px;
  left: 0px;
  border: 1.5px solid tomato;
  transform: rotate(-45deg);
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}